<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../public/style/style.css" />
        <link rel="shortcut icon" href="A REMPLIR" />
        <title>Equipe UPSSISINGES / UPSSITECH</title>
    </head>

    <body>
        <header>
            <a href="./index.html">ACCUEIL</a>
            <a href="./equipe.html">EQUIPE</a>
        </header>

        <div class="content">
            <div class="presentation">
                <h1>Thème de l'année</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis quidem praesentium illo excepturi eaque voluptatem laboriosam necessitatibus. Iste assumenda incidunt iusto qui, culpa itaque expedita necessitatibus nam, voluptates alias harum!</p>
            </div>
        </div>

        <footer>
            <div>
                <img src="../public/img/logo_upssitech.png">

                <div>
                    <h2>Siège social</h2>
                    <p>118 route de Narbonne</p>
                    <p>31400, TOULOUSE</p>
                </div>
                
                <img src="../public/img/logo_ut3.jpg">
            </div>
        </footer>
    </body>
</html>