.game-image {
    display: flex;
    justify-content: center;
    height: 85vh;
    margin-top: 15px;
    position: relative;
}

.modal {
    height: 0;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    padding: 20px;
    padding-top: 0;
    background-color: #fff;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#clickable-area {
    position: absolute;
    display: flex;
    top: 425px;
    left: 953px;
    width: 100px;
    height: 100px;
    background: transparent;/* rgba(255, 0, 0, 0.3);*/
    cursor: pointer;
}

#background-image {
    width: 30vw;
}

.hidden-item {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    color: transparent;
}

.modal button {
    margin-top: 10px;
    font-size: 16px;
}

.close {
    font-size: 24px;
    cursor: pointer;
    color: black;
}

#game-container p {
    color: black;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: 100%;
    background: url('../img/escapeGame/fondEscapeGame.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -2;
    filter: blur(5px);
}