.gauge-container {
    height: 60vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex: 1;
    position: fixed;
    justify-content: flex-end;
    top: 160px; /* Ajustez cette valeur pour déplacer la jauge verticalement */
    right: 10%; /* Ajustez cette valeur pour déplacer la jauge horizontalement */
}

.gauge {
    width: 60px;
    height: 100%;
    position: relative;
    background-color: #eee;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 30px; /* Ajout de la bordure arrondie */
}

.gauge-block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.fill {
    width: 100%;
    background-color: rgb(76, 139, 175);
    transition: height 0.5s ease;
    border-radius: 30px; /* Ajout de la bordure arrondie */
}

#buttonValue {
    margin-left: 10px;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

/* Styles pour la boîte de dialogue */
.custom-alert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff; /* Blanc */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

.custom-alert p {
    margin: 0;
    font-size: 16px;
    color: #336699; /* Bleu terre */
}

.custom-alert-button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #336699; /* Bleu terre */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
