body {
        margin: 0;
        overflow: hidden;
        position: relative;
        background: url('fondfonceCLARA.png') no-repeat center center fixed;
        background-size: contain;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

.popup #game-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 20px auto;
}

#clickable-area {
    position: absolute;
    top: 205px;
    left: 683px;
    width: 30px;
    height: 70px;
    background: transparent;/*rgba(255, 0, 0, 0.3);*/
    cursor: pointer;
}

.card {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ccc;
  border: 1px solid #999;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s, border-color 0.3s;
}

.popup #score-container {
  text-align: center;
  margin-top: 20px;
}

.card.matched {
  border: 2px solid #4CAF50; /* Green border for matched cards */
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black; /* Remplacez par la couleur de fond que vous souhaitez */
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
}