/* HEADER CSS*/
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size:62.5%;
}

h1{
    font-size:2.6rem;
    margin-left:27px;
    margin-right: 5px;
}

h2{
    font-size:4.8rem;
}

h3{
    font-size:3rem;
}

h4{
    font-size:2.6rem;
}

h5{
    font-size:2.8rem;
}

li{
    font-size:2rem;
    padding: flex; 
    flex: 2 2 40rem;
}

a{
    color: #ffffff;
    text-decoration: none;
}

/* HEADER */

.main-head{
    background: rgb(5, 4, 82);
    color: #ffffff;
}

nav{
    min-height: 10vh;
 
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 2rem;
}

nav ul{
    display : flex;
    flex: 2 2 20rem;
    justify-content: space-around;/*justify-content: space-between;*/
    align-items: center;
    list-style: none; 
}

nav ul li{
    padding: 0 10px;
}

#logo{
    flex: 1 1 0rem;
}

#bttheme{
    position: relative;
    top: 10px;
    right: 10px;
    padding: 0; /* Réduire le rembourrage */
    border: none;
    background: url('../public/img/image-chapeau.png') no-repeat;/* Remplacez le chemin par votre propre chemin */
    background-size: contain; /* Ajuste la taille de l'image pour s'adapter au bouton */
    width: 50px; /* Ajustez la largeur selon vos besoins */
    height: 50px; /* Ajustez la hauteur selon vos besoins */
    cursor: pointer;
  }